{% extends 'base.html' %}

{% block title %} Login Page {% endblock %}
{% block loginactive %} active {% endblock loginactive %}

{% block css %}
{% endblock %}
{% block body %}
<form action="/login/" method="POST"> {% csrf_token %}
    <div class="container mt-5">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <!-- Placeholder for potential 2FA implementation -->
        <!-- <div class="mb-3">
            <label for="2fa_code" class="form-label">2FA Code</label>
            <input type="text" class="form-control" id="2fa_code" name="2fa_code">
        </div> -->
        <div class="mb-3">
            <p>If you are a new user, please <a href="/register/">register here</a> before logging in.</p>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div><br><br>
</form>

{% endblock %}
